body {
    margin: auto;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.CofEC {
    align-items: left;
    display: flex;
    background-color: #73000A;
    flex-direction: column;
}


.top {
    background: black;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between; /* Add this line */
    align-items: center; /* Align items vertically in the center */
}


.header-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.top ul {
    list-style-type: none;
    display: flex;
    text-align: right;
    margin-right: 20px; /* Adjust as needed for spacing */


}

.top img {
    margin-right: 10px; /* Adjust the value to your preference */
}

.CofEC h1 {
    color: #FFFFFF;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.main2 {
    display: flex;
    flex-shrink:1;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.column1,
.column2,
.column3 {
    padding: 0 10px;
    max-width: 100%; /* Adjust for smaller screens */
}

.column1 {
    flex: 6; /* Adjust as needed; smaller value makes it smaller */
    max-width: 300px; /* Set a maximum width for column1 */
}

.column2 {
    flex: 7; /* Adjust as needed; larger value makes it larger */
}

.column2-container {
    overflow: hidden; /* Prevent content in column2 from extending past the image */
}

.column2 p {
    border-bottom: 1px solid black;
}

.column3 {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.image-text-container {
    display: flex;
    align-items: left;
    padding: 10px;
    border-bottom: 1px solid black;
}

.column3 img {
    margin-right: 0; /* Adjust for smaller screens */
}

.column3 h1 {
    margin-bottom: 5px;
}

.column-container {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;}


section {
    padding: 15px;
}

section h1 {
    text-align: left;
}

ul {
    list-style: none;
    color: black;
}

.column1 li {
    padding: 10px 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: black;
}

.column4{
    flex:4;
}
.column5 {
    flex:7;
    border: 1px solid black;
    /* Adjust forr smaller screens */
}

.FCofEC {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ECECEC;
    padding: 0%;
}

.FCofEC h1 {
    margin-left: 20px; /* Adjust for smaller screens */
}

.FCofEC ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px; /* Adjust for smaller screens */
}


.top ul{
    list-style-type: none;
    display: flex;
    text-align: right;
}


#main-nav a:hover {
    background: #73000A;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

.column2-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-shrink:1;
}


/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {
    .CofEC h1,
    .FCofEC h1 {
        margin-left: 20px; /* Adjust as needed for smaller screens */
    }

    .FCofEC ul {
        margin-right: 20px; /* Adjust as needed for smaller screens */
    }
}
