body {
    margin: auto;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.CofEC {
    align-items: left;
    max-height: 15px;
    display: flex;
    background-color: #73000A;
    flex-direction: column;
}


.top{
    background: black;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .main {
        padding-right: 10%;
        padding-left: 10%;
    }
    .column1, .column2 {
        flex: 1;
        min-width: 0;
    }
    .column2 p {
        border-bottom: none;
    }
    .main2 {
        flex-direction: column;
    }
    .column3 img {
        margin-right: 10px;
    }
    .FCofEC {
        flex-direction: column;
        align-items: flex-start;
    }
    .FCofEC nav li {
        margin-right: 10px;
    }
    .bt {
        flex-direction: column;
        align-items: flex-start;
    }
}



.header-container {
    display: flex;
    align-items: center; 
}

.top a{
    list-style: none;
    display: flex;
    text-align: right;
    margin-right: 20px; 
    color: white;
    text-decoration: none;


}

.top a:hover {
    background: #73000A;
}

.top img {
    margin-right: 10px; 
}

.CofEC h1 {
    color: #FFFFFF;
    margin-top: -5px;
    margin-right: 200px;
    font-size: 25px;
}

.main {
    display: flex;
    padding: 0%;
    padding-top: 30px;
    padding-right: 20%;
    padding-left:18%;
    justify-content: center;
    flex-wrap: wrap; 
}

.main2 {
    display: flex;
    flex-shrink:1;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.column1,
.column2 {
    padding: 0 10px;
    max-width: 100%;
}

.column1 {
    flex: 6; 
    min-width: 10%;
}

.column2 {
    flex: 3; 
    min-width: 70%;
}

.column2-container {
    overflow: hidden; 
}

.column2 p {
    border-bottom: 1px solid black;
}

.column3 {
    flex: 1;  
    display: flex;
    flex-direction: column;
}


.image-text-container {
    display: flex;
    align-items: left;
    padding: 10px;
    border-bottom: 1px solid black;
}

.column3 img {
    margin-right: 0; 
}

.column3 h1 {
    margin-bottom: 5px;
}

.column-container {
    flex: 7;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;}


section {
    padding: 15px;
}

section h1 {
    text-align: left;
}

ul {
    list-style: none;
    color: black;
}

.column1 li {
    padding: 10px 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: black;
}

.column4{
    flex:4;
    border: 1px solid black;
}
.column5 {
    flex:7;
    border: 1px solid black;
   
}



.FCofEC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECECEC;
    padding: 1%;
}

.FCofEC h1 {
    margin: 0; 
}

.FCofEC nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.FCofEC nav li {
    margin-right: 15px; 
}

.FCofEC a {
    text-decoration: none;
    color: black;
}

.FCofEC a:hover {
    background-color: #CC3042;
}



.top ul{
    list-style-type: none;
    display: flex;
    text-align: right;
}


#main-nav a:hover {
    background: #CC3042;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

.column2-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-shrink:1;
}


.bt{
    background: #73000A;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.bt img {
    margin-right: 10px; 
}



.bottom-container {
    display: flex;
    align-items: center; 
}

.last{
    background-color: black;
}

.last ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; 
}


.last a{
    text-decoration: none;
    background-color: black;
    color: #FFFFFF;
}

.table-container {
    display: flex;
    background: #73000A;
    color: #FFFFFF;
}

.table-container a{
    text-decoration: none;
    color: #FFFFFF;
}

.table-container a:hover{
    color: #CC3042;
}


table {
    border-top: 1px solid white;
    margin-right: 10px;

}
th, td {
    padding: 0px;
    text-align: left;

}
th {
    background-color: #73000A;
}
