* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0px;
}

header {
    width: 100%;
    height: 100px;
    background: gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo {
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    letter-spacing: 4px;
}

nav {
    float: left;
    line-height: 100px;
    margin-left: 3%;
}

nav a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4px;
    font-size: 20px;
    color: black;
    padding: 0 10px;
    margin: 0 1px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    color: blue;
}

.content-area {
    padding-top: 150px; 
    padding-bottom: 50px; 
    background: white;
    position: relative;
    margin-top: 20px; 
}

.text-column {
    padding-left: 20px;
}

.image-and-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image-column img {
    width: 100%;
    height: auto;
}

.image-column {
    flex: 1;
}

.text-column {
    flex: 2;
}




