body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: brown;
}

#assignments{
    background: blue;
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

h1 {
    color: darkslategrey;
}