body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c4b7a6;
}

#content {
    background: #b9936c;
    width: 90%;
    padding: 5%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.assignment {
    margin-bottom: 20px;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.description {
    margin-top: 10px;
}

h1, h2 {
    color: #e6e2d3;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
    }

    .assignment {
        background-color: burlywood;
        flex: 0 0 auto;
        padding: 2px;
        text-align: center;
        margin: auto;
        border: 1px solid black;
    }
}

