
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F1F2E9;
  color: #6794AA;
}

#houses-section {
  max-width: 95%;
  margin: auto;
  padding: 20px;
  background-color: #F2F0D5;
}
h1{
  text-align: center; 

}
.house {
  margin-bottom: 20px;
}

.house h1 {
  text-align: center; 
  width: 100%;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: #D98282;
  color: white;
}

.main-image {
  max-width: 30%;
  height: auto;
  margin-right: 20px;
}

.house-details {
  flex: 1;
}

.floor-plans {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding: 10px;
}


.plan-container {
  width: 48%; 
  display: inline-block; 
  text-align: center; 
  margin: 10px;
}

.floor-plans img {
  width: 100%; 
  height: auto; 
  margin-top: 10px; 
}

@media only screen and (max-width: 768px)  {
  body {
    font-size: 14px;
  }

  #houses-section {
    padding: 10px;
  }

  .info-container {
    flex-direction: column;
  }

  .main-image {
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .house-details,
  .plan-container {
    width: 100%;
  }

  .floor-plans {
    flex-direction: column;
  }
}