body{
    font-family: Arial, Helvetica, sans-serif;
    background: lightgrey;
}

/* Structure*/
#content{
    background: #fff;
    padding: 5px;
    width: 80%;
    /* coneter horinxonatally*/
    margin: auto;
    border-radius: 5px;
    

}

/* Typgraphy */

h1 {
    color: darkslategrey;
}