body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F1F2E9;
    color: var(--text-color);

}

section {
    border: 2px solid #6F9497;
    background: #F2F0D5;
    color: #6F9497;
    margin: auto;
    margin-top: 20px; 
    width: 40%;
    
}

section p{
    text-align: left;
    padding-left: 55px;
}



#commandInput {
    margin-top: 20px;
    display: block;
    margin-bottom: 50px;
    margin: auto;
}



h1{
    color: #5D878C;
    text-align: center ;
}

h2{
    color: #DB929A;
    text-align: center ;
}
h3{
    color: #5D878E;
    text-align: center ;

}

nav a {
    text-decoration: none; 
    color: #5D878E;
  
}

nav{
    text-align: center ;
}

.img {
    text-align: center;
}

li{
    padding-right: 50px;
}

.option {
    text-align: left;
    padding-left: 200px;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }

    section {
        width: 80%;
    }

    section p {
        padding-left: 10px; 
    }

    .option {
        padding-left: 40px; 
    }

    .img {
        text-align: center;
    }
    
    .img img {
        max-width: 75%; 
        height: auto;
        display: block; 
        margin: 0 auto; 
    }
    
}