* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #F3EFE0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0px;
}

header {
    width: 100%;
    height: 100px;
    background: #9A3334;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo {
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: fantasy;
    color: white;
    letter-spacing: 4px;
}

nav {
    float: left;
    line-height: 100px;
    margin-left: 3%;
}

nav a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4px;
    font-size: 20px;
    color: black;
    padding: 0 10px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    color: blue;
}

.product {
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    padding-left: 10%;
    width: 80%;
    margin: auto;
}

.filters {
    flex: 0 0 250px; 
    margin-right: 50px; 
    padding: 25px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: auto;
    overflow-y: auto;
    padding-bottom: 50px;
}

.product-image img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 50px; 
    padding-bottom: 50px; 
}

.image-row {
    padding-top: 50px;
}

.filters label, .filters select {
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: flex;
}

@media screen and (max-width: 768px) {

    .wrapper {
        width: 100%;
        margin-bottom: 50px;
    }

    .logo {
        width: 100%;
        float: none;
        text-align: center;
        line-height: inherit;
    }

    .product {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        width: 90%;
    }

    .product-image img {
        width: 90%;
        padding-right: 0;
        margin: auto;
        padding-bottom: 20px;
    }

    .filters{
        margin: 0 auto;
    }
    .image-row {
        padding-top: 30px;
        width: 270px;
        height: 270px;
        margin: auto;
       
    
      
    }
    h1{
        padding-top: 30px;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }


    .nav-links nav a:hover {
        background-color: #ddd;
        color: black;
    }


    .nav-links.active {
    display: flex; 
    background-color: #ffffff;
    top: 100px; 
    width: 100%; 
    flex-direction: column; 
    text-align: center; 
    padding: 5px 0; 
    margin: auto;
    }


    .nav-links a:last-child {
                border-bottom: none; 
}



}
